@{
    ViewBag.Title = "Student Home Page";
}


<div ng-controller="studentAngContrl">
   
   
    <br />
    <br />
    <div class="row">
        <div class="col-md-1">Search:</div>
        <div class="col-md-3">
            <input ng-model="searchname" class="form-control"/>
        </div>
        <div class="col-md-4"></div>
 
     <div class="col-md-4"></div> 
    </div>
    <br />
    <br />
    <div class="divList">
        <p><b><i>Student List</i></b></p>
        <table class="table table-hover">
            <tr>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Phone Number</b></td>
                <td><b>Address</b></td>
                <td><b>Date Of Birth</b></td>
                <td><b>Gender</b></td>
                <td><b>Action</b></td>
            </tr>
            <tr ng-repeat="student in students | filter:searchname ">
              
                <td>
                   {{student.Name}}
                </td>
                <td>
                    {{student.Email}}
                </td>
                <td>
                    {{student.PhoneNumber}}
                </td>
                <td>
                    {{student.Address}}
                </td>
                <td>
                    {{student.DOB}}
                </td>
                <td>
                    {{student.Gender}}
                </td>
                <td>
                    <span ng-click="editStudent(student)" class="btn btn-primary">Edit</span>
                    <span ng-click="deleteStudent(student)" class="btn btn-danger">Delete</span>
                </td>

            </tr>
        </table>
    </div>



    <span ng-click="AddStudentDiv()"  class="btn btn-default">
        Add Student
    </span>
    <div ng-show="divStudent">
        <p class="divHead"></p>
       
       <form name="studentForm" novalidate class="form-horizontal">
         
         <div class="form-group">
            <b><i>{{Action}} Student</i></b>
        </div>

        <div class="form-group" show-errors>
            <label class="form-label">Name</label>
            <input type="text" name="name" ng-model="Name" class="form-control" required />
            <p class="help-block" ng-if="studentForm.name.$error.required">Name is required</p>
        </div>

        <div class="form-group" show-errors>
            <label class="form-label">Email</label>
            <input type="text" name="email" ng-model="Email" class="form-control"  required />
            <p class="help-block"  ng-if="studentForm.email.$error.required">Email is required</p>
           
        </div>

        <div class="form-group" show-errors>
            <label class="form-label">Phone Number</label>
            <input type="text" name="phonenumber" ng-model="PhoneNumber" class="form-control" required />
            <p class="help-block" ng-if="studentForm.phonenumber.$error.required">Phone Number is required</p>
        </div>

        <div class="form-group" show-errors>
            <label class="form-label">Address</label>
            <input type="text" name="address" ng-model="Address" class="form-control" required />
            <p class="help-block" ng-if="studentForm.address.$error.required">Address is required</p>
        </div>

        <div class="form-group" show-errors>
            <label class="form-label">Date Of Birth </label>
            <input type="text" name="dob" id="dateofbirth" ng-model="DOB" class="form-control" required />
            <p class="help-block" ng-if="studentForm.dob.$error.required">Enter your Date of birth</p>
        </div>

        <div class="form-group" show-errors>
            <label class="form-label">Gender</label>
            <select name="gender" ng-model="Gender" class="form-control" required>
                <option value="">--Select Gender--</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

            </select>
            <p class="help-block" ng-if="studentForm.gender.$error.required">Select your Gender</p>
        </div>

        <div class="form-group">

             <input type="submit" class="btn btn-default" value="Save" ng-click="AddUpdateStudent()" />
            <input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />

        </div>



         

        </form>
      
    </div>
</div>

<style>

 body {
  padding-top: 50px;
}

.form-group .help-block {
  display: none;
}
 
.form-group.has-error .help-block {
  display: block;
}

      
</style>

<script>

    $('#dateofbirth').datepicker();

</script>