@{
    ViewBag.Title = "Student Home Page";
}

<div ng-controller="studentAngContrl">
    <br />
    <br />
    <div class="row">
        <div class="col-md-1">Name:</div>
        <div class="col-md-3">
            <input ng-model="searchname" class="form-control"/>
        </div>
        <div class="col-md-1">Gender:</div>
        <div class="col-md-3">
            <select name="searchgender" ng-model="data.searchgender"  class="form-control">
            <option value="">All</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option></select> 
        </div>
        <div  class="col-md-4">
            <button type="button" ng-click="searchStudent(student)" class="btn btn-primary">Search</button>
        </div>     
    </div>
    <br />
    <br />
    <div class="divList">
        <p><b><i>Student List</i></b></p>
        <table class="table table-hover">
            <tr>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
                <td><b>Phone Number</b></td>
                <td><b>Address</b></td>
                <td><b>Date Of Birth</b></td>
                <td><b>Gender</b></td>
                <td><b>Action</b></td>
            </tr>
            <tr ng-repeat="student in students | filter:searchname | filter:searchgender">
              
                <td>
                   {{student.Name}}
                </td>
                <td>
                    {{student.Email}}
                </td>
                <td>
                    {{student.PhoneNumber}}
                </td>
                <td>
                    {{student.Address}}
                </td>
                <td>
                    {{student.DOB}}
                </td>
                <td>
                    {{student.Gender}}
                </td>
                <td>
                    <span ng-click="editStudent(student)" class="btn btn-primary">Edit</span>
                    <span ng-click="deleteStudent(student)" class="btn btn-danger">Delete</span>
                </td>

            </tr>
        </table>
    </div>



    <span ng-click="AddStudentDiv()" class="btn btn-default">
        Add Student
    </span>
    <div ng-show="divStudent">
        <p class="divHead"></p>
        
            <table class="table table-bordered table-striped">
                <tr>
                    <td><b><i>{{Action}} Student</i></b></td>
                    <td></td>


                </tr>

                <tr>

                    <td><b>Name</b></td>
                    <td>
                        <input type="text" name="name" ng-model="Name" class="form-control" required />
                     
                    </td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td>
                        <input type="text" ng-model="Email" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td><b>Phone Number</b></td>
                    <td>
                        <input type="text" ng-model="PhoneNumber" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>
                        <input type="text" ng-model="Address" class="form-control" />
                    </td>
                </tr>
                <tr>

                    <td><b>Date Of Birth</b></td>
                    <td>
                        <input type="text" id="dateofbirth" ng-model="DOB" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td><b>Gender</b></td>
                    <td>
                        <select name="Gender" ng-model="data.Gender" class="form-control">


                            <option value="">--Select Gender--</option>
                            <option value="Male" selected="">Male</option>
                            <option value="Female">Female</option>

                        </select>
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="btn btn-default" value="Save" ng-click="AddUpdateStudent()" />
                        <input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
                    </td>

                </tr>

            </table>
        </form>
      
    </div>
</div>


<script>

    $('#dateofbirth').datepicker();

</script>